 *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url("https://rmanrey26.w3spaces.com/images/background.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.converter{
    width: 450px;
    background: rgba(255, 255, 255, 0.095);
    padding: 30px;
    box-shadow: 0px 0px 10px rgba (0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin: 212px;
    position: absolute;
}
.converter h1{
    color: white;
}
.converter input-data{
    height: 40px;
    width: 100%;
    position: relative;
}
.converter .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0);
    text-decoration-color: white;
}
.converter1{
    width: 450px;
    background: rgba(255, 255, 255, 0.095);
    padding: 30px;
    box-shadow: 0px 0px 10px rgba (0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin: 351px;
    position: absolute;
}
.converter1 input-data{
    height: 40px;
    width: 100%;
    position: relative;
}
.converter1 .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0);
    text-decoration-color: white;
}

.converter2{
    width: 450px;
    background: rgba(255, 255, 255, 0.095);
    padding: 30px;
    box-shadow: 0px 0px 10px rgba (0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin: 560px;
    position: absolute;
}
.converter2 h1{
    color: white;
}
.converter2 input-data{
    height: 40px;
    width: 100%;
    position: relative;
}
.converter2 .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0);
    text-decoration-color: white;
}

.converter3{
    width: 450px;
    background: rgba(255, 255, 255, 0.095);
    padding: 30px;
    box-shadow: 0px 0px 10px rgba (0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin: 699px;
    position: absolute;
}
.converter3 input-data{
    height: 40px;
    width: 100%;
    position: relative;
}
.converter3 .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0);
    text-decoration-color: white;
}
