*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    width: 880px;
    margin: 0 auto;
}
.wrapper ul{
    list-style: none;
    margin-top: 2%;
}
.wrapper ul li{
    text-decoration: none!important;
    background: #000000;
    width: 170px;
    border: 2px solid rgb(255, 255, 255);
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: relative;
}
.wrapper ul li a{
    text-decoration:none;
    color: rgb(255,255,255);
}
.wrapper ul li:hover{
    background: rgb(128, 204, 255);
}
.wrapper ul ul{
    visibility: hidden;
    display: none;
}
.wrapper ul li:hover > ul{
    visibility: visible;
    display: block;
} 
