*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url("background.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.wrapper{
    width: 880px;
    margin: 0 auto;
}
.wrapper ul{
    list-style: none;
    margin-top: 2%;
    text-decoration: none;
    color: white;
}
.wrapper ul li{
    background: #000000;
    width: 170px;
    border: 2px solid rgb(255, 255, 255);
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: relative;
}
.wrapper ul li a{
    text-decoration:none;
    color: rgb(255,255,255);
}
.wrapper ul li:hover{
    background: rgb(128, 204, 255);
}
.wrapper ul ul{
    visibility: hidden;
    display: none;
}
.wrapper ul li:hover > ul{
    visibility: visible;
    display: block;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
    position: absolute;
    margin-left: 60px;
}
h1{
    color: #fff;
    font-size: 100px;
    line-height: 100px;
}
h2{
    color: #fff;
    font-size: 25px;
    line-height: 25px;
}
p{
    color: #fff;
    font-size: 20px;
    line-height: 21px;
}
