*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
.navbar{
    width: 125%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
list-style: none;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.navbar a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%
}
.content{
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 100px;
    margin-top: 80px;
}
.content h2{
    font-size: 50px auto;
    font-weight: 300;
}
.content h3{
    font-size: 30px auto;
    font-weight: 200;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.column{
    box-sizing: border-box;
    position: relative;
    float:left;
    width: 25%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 800PX;
}
@media screen and (max-width : 600px){
    .column{
        width: 100%;
        display: block;
        margin-bottom: 8px;
    }
}
.row{
    margin: 8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    padding: 16px;
    text-align: center;
    background-color: #f5f5f5;
    border: 8px;
    border-radius: 10px;
}
.card:hover{
    transform: translate3d(0, -1px, 0) scale(1.03);
    transition: 0.6s;
}
